@font-face {
    font-family: "PF Din Text Cond Pro Medium";
    src: url("pfdintextcondpro-medium.eot"); /* IE9 */
    src: url("pfdintextcondpro-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("pfdintextcondpro-medium.woff") format("woff"), /* chrome, firefox */
    url("pfdintextcondpro-medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("pfdintextcondpro-medium.svg#PF Din Text Cond Pro Medium") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


